<!-- app/templates/persons/list_persons.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Список лиц</h2>
    {% if current_user.is_authenticated %}
        {% if current_user.role.name == 'administrator' %}
            <a href="{{ url_for('routes.add_person') }}">Добавить новое лицо</a>
        {% endif %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Рег. номер</th>
                <th>ФИО</th>
                <th>Адрес</th>
                <th>Кол-во судимостей</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.reg_number }}</td>
                    <td>{{ person.last_name }} {{ person.first_name }} {{ person.patronymic or '' }}</td>
                    <td>{{ person.address or 'Не указан' }}</td>
                    <td>{{ person.convictions_count }}</td>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role.name == 'administrator' %}
                            <td>
                                <a href="{{ url_for('routes.edit_person', person_id=person.id) }}">Редактировать</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}