<!-- app/templates/incidents/list_incidents.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Список происшествий</h2>
    {% if current_user.is_authenticated %}
        {% if current_user.role.name == 'administrator' %}
            <a href="{{ url_for('routes.add_incident') }}">Добавить новое происшествие</a>
        {% endif %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Рег. номер</th>
                <th>Дата регистрации</th>
                <th>Краткая фабула</th>
                <th>Решение</th>
                <th>Рег. номер дела</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in incidents %}
                <tr>
                    <td>{{ incident.reg_number }}</td>
                    <td>{{ incident.registration_date.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ incident.short_description }}</td>
                    <td>{{ incident.decision_status or 'Не указано' }}</td>
                    <td>{{ incident.case_reg_number or 'Не указано' }}</td>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role.name == 'administrator' %}
                            <td>
                                <a href="{{ url_for('routes.edit_incident', incident_id=incident.id) }}">Редактировать</a>
                                <a href="{{ url_for('routes.edit_incident_participants', incident_id=incident.id) }}">Участники</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}