<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система Учета Происшествий "Эраклион"</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Система Учета Происшествий "Эраклион"</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.index') }}">Главная</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('routes.list_incidents') }}">Происшествия</a></li>
                    <li><a href="{{ url_for('routes.list_persons') }}">Лица</a></li>
                    <li><a href="{{ url_for('routes.report_incident_count') }}">Отчеты</a></li>
                    <li><a href="{{ url_for('routes.logout') }}">Выйти</a></li>
                    <li>
                        <span>
                            {{ current_user.role }}
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('routes.login') }}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container mt-4">
            {# --- Этот блок критически важен --- #}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                {# Используем Bootstrap классы для разных типов сообщений (danger, success, info, warning) #}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </main>
    <div class="footer-wrapper">
      <footer>
        <p>&copy; 2025 Система Учета Происшествий Эраклион</p>
      </footer>
    </div>
</body>
</html>